* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.calculator {
    background: #222;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #444;
    color: white;
}

.btn:hover {
    background: #666;
}

.operator {
    background: #ff9f1c;
}

.clear {
    background: #e63946;
}

.equal {
    background: #2a9d8f;
    grid-column: span 4;
}
